body {
    background-image: url("bc.png");
}

#header {
    width: 95%;
    text-align: center;
}

.szoveg {
    width: 40%;
    padding-left: 5%;
}

#works {
    padding-top: 4%;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 25%;
}

.arrow {
    height: 90px;
}

.ilt {
    width:80%;
    padding-bottom: 900px;
}

.iltdesc {
    padding-left: 5%;
    border-right-width:2px;
    border-right-style:solid;
    border-right-color:black;
    padding-right: 5%;
    width:50%;
    float:left;
}
.iltmore {
    width:30%;
    float:right;
    text-align: left;
    padding: 50px 0;
}

p {
    text-align: justify;
}

.logo {
    width: 500px;
}
