

* {
    font-family: 'Montserrat', 'arial';
    
}

h1, h2 {
    font-size: x-large;
}
p {
    font-size: medium;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#header {
    width: 88vw;
    height: 39vh;
    margin-left: auto;
    margin-right: auto;
    background: url("header.png") no-repeat;
    background-position: center;
}

.szoveg {
    width: 40%;
    padding-left: 5%;
}

#works {
    padding-top: 4%;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10%;
}

.work {
    width:80%;
}

.bal {
    width: 50%;
    margin: auto;
    padding-left: 3vw;
}
#more {
    animation: fadeIn 0.8s;
    animation-fill-mode: forwards; 
    animation-delay:block;
    animation-timing-function: ease-out;
    text-align: center;
}
#more2 {
    animation: fadeIn 0.8s;
    animation-fill-mode: forwards; 
    animation-delay:block;
    animation-timing-function: ease-out;
    text-align: center;
}
#more3 {
    animation: fadeIn 0.8s;
    animation-fill-mode: forwards; 
    animation-delay:block;
    animation-timing-function: ease-out;
    text-align: center;
}


#iltlogo {
    animation-name: logoa;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    width: 40vw;
}
#chesslogo {
    animation-name: logoa;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    width: 40vw;
}
#hgenlogo {
    animation-name: logoa;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    width: 40vw;
}
@keyframes logoa {
    from {
        opacity: .2;


    }
    to {
        opacity: 1;

    }
}

.desc {
    padding-left: 3vw;
}

#desc1 {
    animation-name: kozepvonal;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

#desc2 {
    animation-name: kozepvonal;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

#desc3 {
    animation-name: kozepvonal;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes kozepvonal {
    from {
        opacity: 0.2;
        border-right: 2px solid rgb(235, 164, 68);
        border-left: 2px solid rgb(235, 164, 68);
        line-height: 0%;
    }
    to {
        opacity: 1;
        border-right: 2px solid black;
        border-left: 2px solid black;
        line-height: 100%;
    }
}

.ph {
    height: 120vh;
}

p {
    text-align: justify;
    padding-right: 3vw;
}



.cim {
    
    animation-name: underlinecim;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes underlinecim {
    from {
        border-bottom: 2px solid rgb(235, 164, 68);
        bottom: 0;
        top: 0;
        width: 0%;}
    to {
        border-bottom: 2px solid black;
        bottom: 0;
        top: 0;
        width: 40%;}
}


#bemutatkozas {
    animation: fadeIn 1s;
    animation-fill-mode: forwards; 
    animation-timing-function: ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
        padding-top: 30px;
    }
    100% {
        padding-top: 0px;
        opacity: 0.9;
    }
  }

  td {
    text-align: center;
  }

  .dropimg {
    height: 30px;
  }

  .dropbtn {
    background-color: rgba(236, 177, 87, 0.8);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 10vw;
    height: 7vh;
    margin: 20px;
  }
  .dropbtn2 {
    background-color: rgba(236, 177, 87, 0.8);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 10vw;
    height: 7vh;
    margin: 20px;

    
  }

  .dropbtn2:hover {
    background-color: rgb(236, 177, 87);
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding-bottom:120px;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #faf6ea;
    min-width: 160px;
    box-shadow: 2px 2px 1px 2px rgba(45, 114, 106, .8);
    z-index: 1;
    border-radius: 10px;
    animation: dropd 0.2s;
    animation-fill-mode: forwards; 
    animation-delay:block;
    animation-timing-function: ease-out;
    text-align: left;
    
  }

  @keyframes dropd {
    0% {
        opacity: 0.5;
        height: 0%;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(45, 114, 106);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(236, 177, 87);}


